html
    font-size: 62.5%

body
    font-size: 1.7rem
    background-color: #3b3939
    font-family: 'Roboto', sans-serif

footer 
    position: absolute
    right: 0
    bottom: 0
    left: 0
    padding: 1rem
    background-color: #212529
    text-align: center
    color: #f3f3f3