.limpiarRegistros
    height: 90vh
    padding: 2rem
    background-color: #f3f3f3

    &__form 
        display: flex
        flex-direction: column
        margin-bottom: 3rem
    &__container
        display: flex
        justify-content: center

    &__error-label
        margin-bottom: 0.8rem   